* { /*Shows boxes for everything for easier placement */
    border: 1px solid blue;
}

body {
     margin: 0 auto;
    padding: 0;
}

header {
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    width: 60px;
    background: blue;
}

.search-desktop {
    display: none;
}

.login-menu {
    display: none;
}

.hamburger-menu {
    display: flex;
    width: 30px;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
    background: black;
    padding: 10px 10px;
}

.hamburger-menu div {
    width: 30px;
    height: 5px;
    background: white;  
}

.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.side-menu {
    display: none;
}

.card-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
       
}

.recipe-card-dummy {
    width: 100%;
    margin-bottom: 20px;
    
}

.recipe-card-image {
    height: 250px;
    background-color: cornflowerblue;
}

.recipe-card-title h2 {
    margin: 0;
}

.recipe-card-source p {
    margin bottom: 20px;
}
.search-field-body {
    width: 80%;
}

.submit-button-header {
    display: none;
}

footer {
    background-color: cadetblue;
}






/*MEDIA QUERIES*/

@media (min-width: 768px) {
    .card-wrapper {
        flex-direction: row;
        
    }
    .recipe-card-dummy {
        width: 45%;
    }
   
}


@media (min-width: 992px) {

    .login-menu {
        display: flex;
    }
    .hamburger-menu {
        display: none;
    }
    .search-desktop {
        display: flex;
    }
    
    
    }

   
