* { /*Shows boxes for everything for easier placement */
    /* border: 1px solid blue; */
}

body {
     margin: 0 auto;
    padding: 0;
}

header {
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    width: 60px;
    background: blue;
}

.search-desktop {
    display: none;
}

.login-menu {
    display: none;
}

.hamburger-menu {
    display: flex;
    width: 30px;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
    background: black;
    padding: 10px 10px;
}

.hamburger-menu div {
    width: 30px;
    height: 5px;
    background: white;  
}

.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.side-menu {
    display: none;
}

.card-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
       
}

/* .recipe-card-dummy {
    width: 100%;
    margin-bottom: 20px;
    
}

.recipe-card-image {
    height: 250px;
    background-color: cornflowerblue;
}

.recipe-card-title h2 {
    margin: 0;
}

.recipe-card-source p {
    margin-bottom: 20px;
} */

.search-field-body {
    width: 80%;
}

.submit-button-header {
    display: none;
}

footer {
    background-color: cadetblue;
}


.recipe-card-container {
    min-height: 400px;
}

.recipe-card {
    width: 300px;
    height: 300px;
    padding: 16px;
    background-color: beige;
}

.recipe-card-image {
    background-color: aquamarine;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.recipe-card-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-card-time-parent {
    position: relative;
    width: 0;
    height: 0;
}

.recipe-card-total-time {
    font-size: 14px;
    position: absolute;
    width: 60px;
    top: -70px;
    left: 200px;
    background-color: whitesmoke;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    text-align: center;
}

.recipe-card-title {
    font-size: 16px;
    margin: 5px 0; 
    text-align: center;
}

.recipe-card-ingredients {
    font-size: 14px;
    margin: 5px 0; 
    text-align: center;
}

.recipe-card-link {
    font-weight: 700;
    margin: 5px 0;
    text-align: center;
}

a .recipe-card-link {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    margin-top: 50px;
}


/*MEDIA QUERIES*/

@media (min-width: 768px) {
    .card-wrapper {
        flex-direction: row;
        
    }
    .recipe-card-dummy {
        width: 45%;
    }
   
}


@media (min-width: 992px) {

    .login-menu {
        display: flex;
    }
    .hamburger-menu {
        display: none;
    }
    .search-desktop {
        display: flex;
    }
    
    
    }

   

.recipe-card-link {
    font-weight: 700;
    margin: 5px 0;
    text-align: center;
}

a .recipe-card-link {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    margin-top: 50px;
}


/*MEDIA QUERIES*/

@media (min-width: 768px) {
    .card-wrapper {
        flex-direction: row;
        
    }
    .recipe-card-dummy {
        width: 45%;
    }
   
}


@media (min-width: 992px) {

    .login-menu {
        display: flex;
    }
    .hamburger-menu {
        display: none;
    }
    .search-desktop {
        display: flex;
    }
    
    
    }

   

.recipe-card-link {
    font-weight: 700;
    margin: 5px 0;
    text-align: center;
}

a .recipe-card-link {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    margin-top: 50px;
}


/*MEDIA QUERIES*/

@media (min-width: 768px) {
    .card-wrapper {
        flex-direction: row;
        
    }
    .recipe-card-dummy {
        width: 45%;
    }
   
}


@media (min-width: 992px) {

    .login-menu {
        display: flex;
    }
    .hamburger-menu {
        display: none;
    }
    .search-desktop {
        display: flex;
    }
    
    
    }

   

.recipe-card-link {
    font-weight: 700;
    margin: 5px 0;
    text-align: center;
}

a .recipe-card-link {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    margin-top: 50px;
}


/*MEDIA QUERIES*/

@media (min-width: 768px) {
    .card-wrapper {
        flex-direction: row;
        
    }
    .recipe-card-dummy {
        width: 45%;
    }
   
}


@media (min-width: 992px) {

    .login-menu {
        display: flex;
    }
    .hamburger-menu {
        display: none;
    }
    .search-desktop {
        display: flex;
    }
    
    
    }

   
